/_a.fdt
/_a.fdx
/_a.frq
/_a.nrm
/_a.prx
/_a.tis
/_b.cfs
/_c.cfs
/_d.cfs
/_e.cfs
/_f.cfs
/_g.cfs
/_h.cfs
/_i.cfs
/_k.fdt
/_k.fdx
/_k.fnm
/_k.frq
/_k.nrm
/_k.prx
/_k.tii
/_k.tis
/_l.cfs
/write.lock
/segments.gen
/segments_w
